<!DOCTYPE html>
<html>
   <head>
     <title>File Metadata Microservice </title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/css/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
   </head>

   <body>
      <div class="container">
        <div class="well">
         <h1>File Metadata Microservice &#128193;</h1>
          <hr>
          <h2>
            Upload a single file to view its file size in bytes
          </h2>
          <form id="uploadForm" enctype="multipart/form-data" action="/get-file-size" method="post">
            <div id="dropzone" class="droppable">
              <div id="preview" class="preview">Drop your file here or click to browse (max 1000KB)</div>
            </div>
          <input type="submit" value="Upload" id="uploadButton" class="uploadButton">
          </form>
          </div> <!-- well -->
        <footer>
          <p>Github Repo <a href="https://github.com/irenapopova/file-metadata-microservice" target="_blank">
          <span class="fa fa-github"></span>
        </a></p>
      <p>
     Built by <a href="https://irenapopova.github.io/my-portfolio/" target="_blank">Irena Popova</a>
    </p>
      </footer>
      </div> <!-- container -->
      <script src="/public/js/makeDroppable.js"></script>
      <script src="/public/js/index.js"></script>
   </body>
</html>
