/****** Main Styling ******/

body {
  font-family: 'Roboto', sans-serif;
	font-size: 16px;
  color: #222;
  text-align: center;
}

.container {
	padding: 0;
  width: 100%;
	margin-top: 40px;
  text-align: left;
}

.well{
  margin: auto;
  width: 70%;
  border-style: solid;
  padding: 10px;
  word-wrap: break-word;
}

footer {
	margin-top: 20px;
  text-align: center;
}

a {
	color: #2574A9;
  text-decoration: none;  
}

a:hover{
  color: #000;
}

/****** FontAwesome Styling ******/

.fa{
  font-size: 22px !important;
}
.fa-file{
  font-size: 16px !important;
}

/****** Dropzone Styling ******/
form{
  border: 2px dashed #419CF5;
}

.droppable { 
  color: #606060; 
  background: #FDFDFD; 
  padding: 80px 0; 
  text-align: center; 
  cursor: pointer;
}

.droppable.dragover { 
  background: #D5E6F7; 
}

.preview{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

figure{
  position: relative;
  height: inherit;
}
 
.previewImg{
  height: inherit;
}

.uploadButton{
  width: 100%;
  cursor: pointer;
  color: #E8E8E8;
  background-color:#419CF5;
  padding: 12px  !important;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px !important;
}

.uploadButton:hover{
  opacity: 0.8;
}

.uploadButton:focus {outline:0;}

.success{
  background-color: #00CC71; 
  border-color: #00CC71; 
}

.failed{
  background-color: red; 
  border-color: red;
}

.disable-clicks{
  pointer-events: none;
}